body{
    margin: 0px;
    
}
.desktop{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    padding-top: 0%;
    position: center;
    display: flex;
    
}
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: flex;
    
}
#logo{
    position: absolute;
    margin-left: 1%;
    margin-top: 2vh; 
    width: 60px;
    height: 60px;
    background-color: white;
    /* border: 1px solid black; */
    
    border-radius: 100%;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.244));
    /* box-shadow: inset 0 0 20px rgba(78, 78, 78, 0.48); */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    text-align: center;
    font-family: 'Copperplate Gothic', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: green;
}
#logo_text{
    position: absolute;
    
    margin-left: 5.5%;
    margin-top: 3vh;
    font-family: 'Copperplate Gothic', sans-serif;
    font-size: 40px;
    color: green;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.746);
}
#menu{
    position: absolute;
    margin-top: 3vh;
    margin-left: 25%; 
    width: 75%;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    
}

a{
    text-decoration: none;
}
#menu_button{
    margin-left: 5%;
    font-family: 'Copperplate Gothic', sans-serif;
    font-size: 35px;
    color: green; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.871);
    
}
#menu_button1{
    margin-left: 3%;
    font-family: 'Copperplate Gothic', sans-serif;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: green; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.871);
    cursor: pointer;
    
}
#menu_button2{
    margin-left: 5px;
    font-family: 'Copperplate Gothic', sans-serif;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: green; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.871);
    cursor: pointer;
    display: none;
}
#menu_button1:hover{
    
    color: rgb(225, 255, 0);
}
#menu_button2:hover{
    
    color: rgb(225, 255, 0);
}
#menu_button:hover{
    
    color: rgb(225, 255, 0);
}
#butter{
    position: absolute;
    width: 100%;
    height: 14vh;
    background-color: rgba(211, 211, 211, 0.688);
}
#side_menu{
    
    position: absolute;
    margin-top: 14vh; 
    margin-left: 80%;
    width: 20%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.871);
    background-color: rgba(237, 236, 236, 0.513);
    
    display: none;
    text-align: center;
}
#close{
    margin-top: 4vh;
    margin-left: 5%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: green; 
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.244));
    /* box-shadow: inset 0 0 20px rgba(78, 78, 78, 0.48); */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-align: center;
    display: none;
}

#side_menu_text{
    font-size: 30px;
    color: green;
}
#side_menu_text:hover{
    color: black;
}
/* #mtg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
} */

#Renewable{
    position: absolute;
    font-size: 100px;
    margin-top: 30vh;
    margin-left: 3%;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#Green{
    position: absolute;
    font-size: 100px;
    margin-top: 30vh;
    margin-left: 38%;
    color: green;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#Energy{
    position: absolute;
    font-size: 100px;
    margin-top: 45vh;
    margin-left: 3%;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#sec{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background-image: url('Image/Screenshot 2024-09-04 at 11.29.43 AM.png');
    background-size: cover;
    position: center;
}

#learn_btn{
    position: absolute;
    padding: 1%;
    margin-top: 80vh;
    margin-left: 40%;
    border-radius: 40px;
    font-size: 24px;
}
#theird{
    width: 100%;
    
    background-color: transparent;
}
#body_cal_back{
    width: 96%;
    padding: 2%;
    background-image: url('image/th-4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: center;
    font-size: 24px;
    
}

#green {
color: #19841c;
text-shadow: 
        -1px -1px 0 rgba(0, 0, 0, 0.697),  
         1px -1px 0 (0, 0, 0, 0.697),
        -1px  1px 0 (0, 0, 0, 0.697),
         1px  1px 0 (0, 0, 0, 0.697);

}
#green1 {
color: #0f6d12;
text-shadow: 
        -2px -2px 0 rgb(0, 0, 0),  
         2px -2px 0 (0, 0, 0, 0.697),
        -2px  2px 0 (0, 0, 0, 0.697),
         2px  2px 0 (0, 0, 0, 0.697);

}


label {
margin-right: 20px;
}

.form-group {
margin-bottom: 15px;
}

input[type="text"] {
padding: 5px;
width: 150px;
}

#button {
padding: 10px 15px;
background-color: #4CAF50;
border-radius: 20px;
font-size: 20px;
color: white;
border: none;
cursor: pointer;
}

#button:hover {
background-color: #45a049;
}
#link_shop{
font-size: 24px;
padding: 10px;
border: 2px solid green;
border-radius: 40px;
background-color: #09b712b8;
color: black;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
#link_shop:hover {
transform: scale(1.1);
}
@media only screen and (max-width: 600px) {

    #logo{
    
        width: 50px;
        height: 50px;
        background-color: white;
        /* border: 1px solid black; */
        margin-top: 3.5vh;
        margin-left: 1%;
        border-radius: 100%;
        filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.244));
        /* box-shadow: inset 0 0 20px rgba(78, 78, 78, 0.48); */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: green;
    }
    #logo_text{
        position: absolute;
        
        margin-left: 20%;
        margin-top: 5vh;
        font-family: 'Copperplate Gothic', sans-serif;
        font-size: 24px;
        color: green;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.746);
    }
    #menue{
        margin-top: .5%;
        margin-left: 18%;
        border: none;
        background-color: transparent;
        font-size: 28px;
        height: 5vh;
        color: green;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.607);
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    #menu_button{

        display: none;
    }
    #menu_button1{
            margin-left: 70%;
    }
    #menu_button2{
        margin-left: 70%;
}
    #side_menu{
    
        position: absolute;
        margin-top: 14vh; 
        margin-left: 60%;
        width: 40%;
        height: 86vh;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.871);
        background-color: rgba(237, 236, 236, 0.513);
        
        display: none;
        text-align: center;
    }
    #close{
        margin-top: 4vh;
        margin-left: 5%;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: none;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        color: green; 
        filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.244));
        /* box-shadow: inset 0 0 20px rgba(78, 78, 78, 0.48); */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        text-align: center;
        display: none;
    }
    #side_menu_text{
        font-size: 18px;
        color: green;
    }
    #Renewable{
        position: absolute;
        font-size: 27px;
        margin-top: 45vh;
        margin-left: 3%;
        color: white;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
    #Green{
        position: absolute;
        font-size: 27px;
        margin-top: 45vh;
        margin-left: 50%;
        color: green;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.393);
    }
    #Energy{
        position: absolute;
        font-size: 24px;
        margin-top: 51vh;
        margin-left: 3%;
        color: white;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
    #learn_btn{
        position: absolute;
        padding: 2%;
        margin-top: 80vh;
        margin-left: 30%;
        border-radius: 20px;
        font-size: 16px;
    }

}
